extends ../view/index 

include ../feedback/index
include ../results/index
include ../result-item/index  

block body
    section.view.search
        h2 Hello #{name} 
        form(method="post" action=logout)
            button.search__logout Logout
        a.search__logout(href=myfavs) My favs
        form.search__form(method="get" action=path)
            input#search__formitem.search__input(type="search" name="q" value=query || '')
            button.search__button 🔎 Search
            if error
                +feedback(error)
        if results
            +results(results)



